{% block sw_cms_element_employee_card_preview %}
    <div class="sw-cms-el-preview-employee-card">
        <img class="sw-cms-el-preview-employee-card-img"
             :src="'customcmselement/static/img/background_employee-card_preview.jpg' | asset">

        <sw-icon class="sw-cms-el-preview-employee-card-icon"
                 name="multicolor-action-play"></sw-icon>
    </div>
{% endblock %}