{% block sw_cms_element_employee_card_preview %}
	<div class="sw-cms-el-employee-card">
		<div class="sw-cms-preview-employee-card-avatar-wrapper">
			<sw-avatar :imageUrl="'cmsblock/static/img/employee.jpg' | asset" size="75px"></sw-avatar>
		</div>
		<small>Doeing</small>
		<h4>John Doe</h4>
	</div>
{% endblock %}
