{% block element_image %}
	{% set config = element.config %}
		<div style="display: flex; flex-direction: column; align-items: center;">
			<div class="sw-cms-el-employee-card-avatar-wrapper">
				<img src="{{config.avatarUrl.value | default(asset('bundles/cmsblock/static/img/employee.jpg', 'asset')) }}" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;"></img>
			</div>
			<p style="font-size: 18px; margin: 5px 0;">{{config.jobTitle.value}}</p>
			<h1>{{config.name.value}}</h1>
		</div>
{% endblock %}
