{% block sw_cms_element_employee_card_config %}
  <div>
    <sw-switch-field v-model="enabled" label="Enabled"></sw-switch-field>
    <sw-media-field
          v-model="avatar"
          label="Employee Image"
          @input="onAvatarUpdate"
          @change="onAvatarUpdate">
    </sw-media-field>
    <sw-text-field
          v-model="name"
          label="Employee Name"
          placeholder="Enter name..."
          @input="onNameUpdate"
          @change="onNameUpdate">
    </sw-text-field> 
    <sw-text-field
          v-model="jobTitle"
          label="Job Title"
          placeholder="Enter title..."
          @input="onJobTitleUpdate"
          @change="onJobTitleUpdate">
    </sw-text-field> 
  </div>
{% endblock %}