{% block sw_cms_block_my_image_text_reversed_preview %}
	<div class="sw-cms-block-preview-team-card">
		<div class="sw-cms-el-employee-card" v-for="n in 3">
			<div class="sw-cms-preview-employee-card-avatar-wrapper">
				<sw-avatar :imageUrl="'cmsblock/static/img/employee.jpg' | asset" size="75px"></sw-avatar>
			</div>
			<small>Doeing</small>
			<h4>John Doe</h4>
		</div>
	</div>
{% endblock %}
