{% block sw_cms_element_employee_card %}
<div class="sw-cms-el-employee-card">
  <div class="sw-cms-el-employee-card-avatar-wrapper">
    <sw-avatar :imageUrl=avatar size="200px"></sw-avatar>
  </div>
  <p>{{jobTitle}}</p>
  <h1>{{name}}</h1>
</div>
{% endblock %}